{% set username = progress_info['username'] %}
{% set progress = progress_info['progress'] %}
{% set media_id = progress_info['media_id'] %}
<div>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/player.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/player.js')}}"></script>

    <div id="player-alert-{{id or 'video'}}" class="player-alert">
        Player Loading...
    </div>
    <{{element or 'video'}} id="{{id or 'video'}}" src="{{ url }}" controls
        onloadeddata="player.init('{{id or 'video'}}', {{media_id or 'null'}}, '{{username or 'null'}}', {{progress or 'null'}}, {{save_interval or '5000'}})"
        onerror="player.onError('{{id or 'video'}}')">
    </{{element or 'video'}}>
</div>
