{% include 'top.html' %}
<div class="content">
    <div class="container details">

        {% if media_items | length > 0 %}
            <h2 class="title"> {{genre_name}} | {{genre_type}}</h2>

            <table class="styled">
                <thead>
                    <tr>
                        <td>Item ID</td>
                        <td>Item Title</td>
                        <td>Item Type</td>
                    </tr>
                </thead>
                <tbody>
                    {% for media_item in media_items %}
                    {% if media_item.type == 'TV Show' %}
                    <tr class="clickable-tr" data-href="{{url_for('single_tvshow', tvshow_id=media_item.id)}}">
                    {% elif media_item.type == 'Movie' %}
                    <tr class="clickable-tr" data-href="{{url_for('single_movie', movie_id=media_item.id)}}">
                    {% elif media_item.type == 'Song' %}
                    <tr class="clickable-tr" data-href="{{url_for('single_song', song_id=media_item.id)}}">
                    {% elif media_item.type == 'Podcast' %}
                    <tr class="clickable-tr" data-href="{{url_for('single_podcast', postcast_id=media_item.id)}}">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td style="text-align: center">{{ media_item.id }}</td>
                        <td>{{media_item.title}}</td>
                        <td>{{media_item.type}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 class="title"> Invalid Genre ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
